#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

export KUBETAIL_SINCE=10m
export HOMEBREW_BUNDLE_FILE=/Users/sidv/Brewfile

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;
export PATH="$HOME/.bin:$HOME/bin:/usr/local/opt/ruby/bin:$HOME/go/bin:$PATH:$HOME/.poetry/bin"

export PRE_COMMIT_ALLOW_NO_CONFIG=1
export GOPATH=~/go
export PATH="$PATH:$GOPATH/bin"

export PATH="/opt/homebrew/opt/libpq/bin:$PATH"

export GPG_TTY=$(tty)

LDFLAGS=(
    '-L/opt/homebrew/opt/openssl@1.1/lib'
    '-L/opt/homebrew/opt/readline/lib'
    '-L/opt/homebrew/opt/sqlite/lib'
    '-L/opt/homebrew/opt/zlib/lib'
)

export LDFLAGS

CPPFLAGS=(
    '-I/opt/homebrew/opt/openssl@1.1/include'
    '-I/opt/homebrew/opt/readline/include'
    '-I/opt/homebrew/opt/sqlite/include'
    '-I/opt/homebrew/opt/zlib/include'
)

export CPPFLAGS

export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.bun"
export PATH="$PATH:$HOME/.deno"
export NODE_OPTIONS="--max-old-space-size=4096"
