{:devices {:exkb [{:vendor_id 9610, :product_id 26}],
           :apkb [{:vendor_id 1452, :product_id 641}],
           :dakb [{:vendor_id 17485, :product_id 13366}]},
 :simlayers {:period-mode {:key :period},
             :arrow-mode {:key :f},
             :launch-mode {:key :s},
             :d-mode {:key :d},
             :mouse_keys_mode_v4 {:key :a,
                                  :afterup {:set ["mouse_keys_mode_v4_scroll"
                                                  0]}}},
 :templates {:launch "open -a \"%s\""},
 :main [{:des "External Keyboard CMD Option swap",
         :rules [:exkb
                 [:##left_command :left_option]
                 [:##left_option :left_command]]}
        ;; .a -> ~/, .s -> .*
        {:des "Period Mode", 
         :rules [:period-mode
                 [:a [:!Sgrave_accent_and_tilde :slash]]
                 [:s [:period :!S8]]]}
        ;; Move Mouse -> a + jkl;
        ;; Scroll -> S
        ;; Fine movement -> F
        ;; N/M/H -> Left/Right/Middle Click
        {:des "Mouse Keys Mode", 
         :rules [[:##j
                  {:mkey {:vwheel 32}}
                  [["mouse_keys_mode_v4_scroll" 1]]
                  ["mouse_keys_mode_v4" 1]]
                 [:##l
                  {:mkey {:hwheel 32}}
                  [["mouse_keys_mode_v4_scroll" 1]]
                  ["mouse_keys_mode_v4" 1]]
                 [:##k
                  {:mkey {:vwheel -32}}
                  [["mouse_keys_mode_v4_scroll" 1]]
                  ["mouse_keys_mode_v4" 1]]
                 [:##semicolon
                  {:mkey {:hwheel -32}}
                  [["mouse_keys_mode_v4_scroll" 1]]
                  ["mouse_keys_mode_v4" 1]]
                 :mouse_keys_mode_v4
                 [:##j {:mkey {:y 2048}}]
                 [:##k {:mkey {:y -2048}}]
                 [:##l {:mkey {:x -2048}}]
                 [:##semicolon {:mkey {:x 2048}}]
                 [:##n {:pkey :button1}]
                 [:##m {:pkey :button2}]
                 [:##h {:pkey :button3}]
                 [:##s
                  ["mouse_keys_mode_v4_scroll" 1]
                  nil
                  {:afterup ["mouse_keys_mode_v4_scroll" 0]}]
                 [:##f {:mkey {:speed 0.2}}]]}
        ;; Arrow Keys -> F + jkl;
        ;; Left/Right screen -> F + . or /
        ;; Left/Right tab -> F + m/,
        {:des "Arrow Keys and nav",
         :rules [:arrow-mode
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :left_arrow]
                 [:##semicolon :right_arrow]
                 [:##period :!Tleft_arrow]
                 [:##slash :!Tright_arrow]
                 [:##m :!CSopen_bracket]
                 [:##comma :!CSclose_bracket]]}
        ;; Tap Right command to switch windows
        {:des "Right cmd -> cmd+tab",
         :rules [[:right_command :right_command nil {:alone :!Ctab}]]}
        ;; Easy Brackets -> D + j(, k), l{, m}, i[, o]
        {:des "quick bracket/braces sequences",
         :rules [:d-mode
                 [:j :!S9]
                 [:k :!S0]
                 [:l :!Sopen_bracket]
                 [:semicolon :!Sclose_bracket]
                 [:i :open_bracket]
                 [:o :close_bracket]]}
        {:des "quick modifiers",
         :rules [[:slash :right_command nil {:alone :slash}]
                 [:spacebar :left_shift nil {:alone :spacebar}]
                 [:##delete_or_backspace
                  [:!C!T!Oleft_shift]
                  nil
                  {:alone :delete_or_backspace,
                   :held :delete_or_backspace}]
                 [:##caps_lock :delete_or_backspace]]}
        {:des "quick modifiers built in",
         :rules [:apkb 
                 [:z :left_control nil {:alone :x} :!qwerty-mode]
                 [[:j :k] :escape :!qwerty-mode]
                 [[:k :l] :return_or_enter :!qwerty-mode]]}
        ;; Launch apps with S + jkl;nm
        {:des "Launcher Mode [S] as Trigger Key",
         :rules [:launch-mode
                 [:j [:launch "Firefox"]]
                 [:k [:launch "Visual Studio Code - Insiders"]]
                 [:l [:launch "Discord"]]
                 [:semicolon [:launch "iTerm"]]
                 [:n [:launch "Slack"]]
                 [:m [:launch "zoom.us"]]]}
        ;; Switch between Qwerty and Colemak with Q+1/2
        {:des "QWERTY Mode",
         :rules [
                 [[:q :1] ["qwerty-mode" 1]]
                 [[:q :2] ["qwerty-mode" 0]]]}
        {:des "Dactyl Colemak DHm",
         :rules [:dakb
                 [:##v :d :!qwerty-mode]
                 [:##b :v :!qwerty-mode]]}
        {:des "Apple Colemak DH",
         :rules [:apkb
                 [:##b :z :!qwerty-mode]
                 [:##c :d :!qwerty-mode]
                 [:##x :c :!qwerty-mode]
                 [:##z :x :!qwerty-mode]]}         
        {:des "colemak-dh",
         :rules [:!qwerty-mode
                 [:##d :s]
                 [:##e :f]
                 [:##f :t]
                 [:##h :m]
                 [:##i :u]
                 [:##j :n]
                 [:##k :e]
                 [:##l :i]
                 [:##m :h]
                 [:##n :k]
                 [:##o :y]
                 [:##p :semicolon]
                 [:##q :q]
                 [:##r :p]
                 [:##s :r]
                 [:##t :b]
                 [:##u :l]
                 [:##y :j]
                 [:##semicolon :o]]}
        ]}
